.content-box {
    width: 100%;
    height: 100%;

    margin-top: 200px;
    margin-bottom: 300px;
}

.content-box>.content {
    width: 1300px;
    gap: 90px;
}


.news {
    border-top: 2px solid #2E2E2E;
}

.news1 {
    height: 560px;
}

.judul-menu-kpop {
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu2 {
    color: #2E2E2E;
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;

}

.bi-chevron-right {
    width: 25px;
    height: 15px;
    gap: 11px;
}

.about-menu {
    width: 1300px;
}

.about-menu>.right {
    height: auto;
    margin-left: auto;
    gap: 15px;
}

.about-menu .left {
    height: 401px;
}

.about-menu .left img {
    height: 401px;
    margin-right: auto;
}

.row {
    gap: 40px;
}

.card {
    width: 230px;
    height: 193px;
}

.card img {
    border-radius: 10px 10px 10px 10px;
}

.caption {
    padding-top: 5px;
}

.caption p {
    color: #2E2E2E;
    font-size: 12px;
    font-weight: bold;
}

.caption .date {
    color: #2E2E2E;
    font-size: 10px;
    font-weight: 100;
    list-style: none;
}

