.content-box {
    width: 100%;
    height: 100%;

    margin-top: 230px;
    margin-bottom: 400px;
}

.content-box>.content {
    width: 1300px;
    gap: 90px;
}

.news {
    border-top: 2px solid #2E2E2E;
}

.news1 {
    height: 560px;
}

.judul-menu-kpop {
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu2 {
    color: #2E2E2E;
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;

}

.about-menu {
    width: 1300px;
}

.about-menu>.right {
    height: auto;
    margin-left: auto;
    gap: 18px;
}

.about-menu .left {
    height: 401px;
}

.about-menu .left img {
    height: 401px;
    margin-right: auto;
}

.row {
    gap: 40px;
}

.card {
    width: 250px;
    height: 193px;
}

.img-wrapper {
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 120px;
    overflow: hidden;
}

.img-wrapper img {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    cursor: pointer;
}

.img-wrapper img:hover {
    transform: scale(1.1);
} 

.caption {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    gap: 4px;
}

.caption p {
    color: #2E2E2E;
    font-size: 12px;
    font-weight: bold;
}

.caption .date {
    color: #2E2E2E;
    font-size: 10px;
    font-weight: 400;
    list-style: none;
}