.content-box {
    width: 100%;
    height: 3636px;

    margin-top: 200px;
    margin-bottom: 300px;
}

.content-box>.content {
    width: 1300px;
    gap: 90px;
}

.news1 {
    width: 1300px;
    height: 477px;
}
.news {
    width: 1300px;
    border-top: 2px solid #2E2E2E;
    height: 527px;
}

.judul-menu1 {
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu2 {
    color: #2E2E2E;
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;

}

.bi-chevron-right {
    width: 25px;
    height: 15px;
    gap: 11px;
}

.kpop-content {
    gap: 155px;
    height: 367px;
}

.kpop-content>.right {
    width: 633px;
    height: 367px;
    gap: 11px;
}

.col {
    height: 178px;
}

.row {
    gap: 40px;
}

.card {
    width: 283px;
    height: 178px;
    gap: 5px;
}

.card img {
    border-radius: 10px 10px 0px 0px;
}

.caption {
    width: 283px;
    height: 46px;
    color: #2E2E2E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}