.content-box {
    width: 100%;
    height: 100%;

    padding-top: 220px;
    margin-bottom: 300px;   
}

.content-box>.content {
    width: 1185px;
    gap: 100px;
}

.judul-menu {
    margin-bottom: 50px;
    margin-right: auto;
}

.judul-menu2 {
    color: #2E2E2E;
    font-size: 28px;
    font-weight: 700;
    margin-right: 30px;
    padding-bottom: 5px;
}

.about-menu {
    width: 1185px;
}

.about-menu>.right {
    margin-left: auto;
    gap: 25px;
}

.about-menu .left {
    width: 470px;
    height: 342px;
}

.about-menu .left img {
    width: 470px;
    height: 342px;
    margin-right: auto;
    margin-bottom: auto;
}

.row {
    gap: 35px;
}

.example {
    width: 225px;
}

.img-wrapper {
    border-radius: 15px 15px 15px 15px;
    width: 225px;
    height: 110px;
    overflow: hidden;
}



.img-wrapper img {
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    cursor: pointer;

    object-fit: cover;
}


.caption {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    gap: 4px;

    cursor: pointer;
}

.example:hover {
    .img-wrapper img {
        transform: scale(1.1);
    }

    /* text-decoration: underline;
    text-decoration-color: #2E2E2E; */

    .caption p {
        color: black;
    }
}

.caption p {
    color: #2E2E2E;
    font-size: 10px;
    font-weight: 600;
}

.caption .date {
    color: #2E2E2E;
    font-size: 8px;
    font-weight: 400;
    list-style: none;
}