[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: grid;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu2>li>.first {
    font-size: 16px;
    font-weight: 600;
    color: #E94B4A;
}

.bi-box-arrow-left {
    font-size: 23px;
    color: #E94B4A;
    margin-left: 10px;
}

.tab {
    font-weight: 400;
    cursor: pointer;
}

.tab.active {
    font-weight: 600;
    color: #E94B4A;
}

.nav-content1 h1 {
    font-size: 30px;
    color: #f0f0f0;
}

.action {
    margin-right: auto;
    margin-bottom: auto;
    gap: 20px;
}

.addbutton {
    padding: 15px 20px;
    background-color: #E94B4A;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #f0f0f0;
    transition: 0.2s;
    margin-right: auto;
}

.seedbutton {
    padding: 15px 20px;
    background-color: #E94B4A;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #f0f0f0;
    transition: 0.2s;
    margin-right: auto;
}

.bi-plus-circle,
.bi-book-half {
    font-size: 20px;
    color: #f0f0f0;
    margin-left: 8px;
}

.addbutton:hover,
.seedbutton:hover {
    background: #da4747;
}

.cards2 {
    margin: 0 auto;
    max-width: 1185px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    gap: 22px;
    padding-top: 220px;
    margin-bottom: 300px;
}

.card-content {
    padding-bottom: 15px;
}

.button-wrap {
    gap: 15px;
    padding-bottom: 30px;
    margin-right: 230px;
}

.button {
    background-color: #E94B4A;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s;
}

.button:hover {
    background: #da4747;
}

.bi-pencil,
.bi-trash3 {
    font-size: 17px;
    color: #f0f0f0;
}