<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/asset/style.css">
    <link rel="stylesheet" href="../static/asset/dahboard/dashboard.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="../static/asset/logo2.png" type="image/x-icon">
</head>

<body>
    <!-- NAVBAR Start -->

    <nav class="nav-box flex-col " id="nav">
        <div class="nav-1 flex-row">
            <div class="nav-content1 flex-row">

                <h1>ADMIN PANEL</h1>

            </div>
        </div>
        <div class="nav-2 flex-row">
            <div class="nav-content2 flex-row">
                <div class="menu flex-row">
                    <li data-tab-target="#event" class="active tab">Event</li>
                    <li data-tab-target="#kpop" class="tab">K-Pop</li>
                    <li data-tab-target="#kdrama" class="tab">K-Drama</li>
                    <li data-tab-target="#kbeuty" class="tab">K-Beuty</li>
                    <li data-tab-target="#" class="tab">K-News</li>
                    <li data-tab-target="#" class="tab">K-Mart</li>
                    <li data-tab-target="#" class="tab">K-Food</li>
                </div>
                <div class="menu2">
                    <li><a class="first flex-row" href="">LOGOUT <i class="bi bi-box-arrow-left"></i></a></li>
                </div>
            </div>
        </div>
    </nav>



    <div id="event" data-tab-content class="active cards2">
        <div class="action flex-col">
            <a href="" class="addbutton flex-row">Tambah Berita <i class="bi bi-plus-circle"></i></a>
            <a href="/event" class="seedbutton flex-row">Lihat Berita Event <i class="bi bi-book-half"></i></a>
        </div>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban kyo minta maaf pada korban </h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban kyo minta maaf pada korban kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak n</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, n</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
    </div>


    <div id="kpop" data-tab-content class="cards2">
        <div class="action flex-col">
            <a href="" class="addbutton flex-row">Tambah Berita <i class="bi bi-plus-circle"></i></a>
            <a href="/kpop" class="seedbutton flex-row">Lihat Berita K-Pop<i class="bi bi-book-half"></i></a>
        </div>


    </div>


    <div id="kdrama" data-tab-content class="cards2">
        <div class="action flex-col">
            <a href="" class="addbutton flex-row">Tambah Berita <i class="bi bi-plus-circle"></i></a>
            <a href="/kdrama" class="seedbutton flex-row">Lihat Berita K-Drama<i class="bi bi-book-half"></i></a>
        </div>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>

    </div>


    <div id="kbeuty" data-tab-content class="cards2">
        <div class="action flex-col">
            <a href="" class="addbutton flex-row">Tambah Berita <i class="bi bi-plus-circle"></i></a>
            <a href="/kbeuty" class="seedbutton flex-row">Lihat Berita K-Beuty<i class="bi bi-book-half"></i></a>
        </div>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>
        <article class="card flex-col">
            <div class="img-wrapper">
                <img src="../../../static/ASSET/ARTICLES/kpop/rize.jpg">
            </div>
            <div class="card-content">

                <div class="text">
                    <h3 class="header-text">kecelakaan gak di sengaja saat bangun rumah, agensi Song hye
                        kyo minta maaf pada korban</h3>
                </div>
                <span class="date">Published: 23 September 2023.</span>

            </div>
            <div class="button-wrap flex-row">
                <a class="button flex-row">
                    <i class="bi-pencil"></i>
                </a>
                <a class="button flex-row">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </article>

    </div>



    <!-- FOOTER start -->

    <footer class="flex-col" id="contact">
        <div class="footer-content flex-row">

            <div class="left">
                <li><span class="footer-judul">Myrism K-Media</span></li>
                <li><span class="footer-call-us">Call Us</span></li>
                <li>
                    <p class="footer-text">myrism.global@gmail.com</p>
                </li>
                <li>
                    <p class="footer-text">South jakarta, Indonesia, Jakarta</p>
                </li>
            </div>

            <div class="right">
                <li><span class="footer-judul">Tautan</span></li>
                <li><a class="footer-text2" href="/">Home</a></li>
                <li><a class="footer-text2" href="/articles">Articles</li></a>
                <li><a class="footer-text2" href="/event">Event</a></li>
            </div>

        </div>
        <div class="footer-bottom flex-col">
            <div class="footer-bottom-content flex-col">

                <div class="icons-footer flex-row">
                    <a class="icon-footer" href="https://youtube.com/@myrismTV?si=cyOY_SE3uMBXWKGh" target="_blank">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a class="icon-footer" href="https://instagram.com/myrism.kmedia?igshid=NjIwNzIyMDk2Mg=="
                        target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a class="icon-footer" href="https://www.tiktok.com/@myrism.kmedia" target="_blank">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a class="icon-footer" href="https://www.facebook.com/myrism.kmedia" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>

                <p>Copyright @2023 - <span class="Chinchilla">Chinchilla.</span> All Rights Reserved</p>

            </div>
        </div>
    </footer>

    <!-- FOOTER start -->


    <script src="../static/ASSET/my.js"></script>
    <script>
        const tabs = document.querySelectorAll('[data-tab-target]')
        const tabContents = document.querySelectorAll('[data-tab-content]')

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = document.querySelector(tab.dataset.tabTarget)
                tabContents.forEach(tabContent => {
                    tabContent.classList.remove('active')
                })
                tabs.forEach(tab => {
                    tab.classList.remove('active')
                })
                tab.classList.add('active')
                target.classList.add('active')
                window.scrollTo(0, 0);
            })
        })
    </script>
</body>

</html>