<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    <link rel="stylesheet" href="../static/asset/style.css">
    <link rel="stylesheet" href="../static/asset/login/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="../static/asset/logo2.png" type="image/x-icon">
</head>

<body>
    <!-- <div class="bg-loader">
        <div class="lds-default">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->

    <div class="card-login ">

        <img src="../static/asset/login/Secure data-pana.png" />

        <form class="form">
            <input spellcheck="false" class="control" type="text" placeholder="Username" />

            <div class="password">
                <input spellcheck="false" class="control" id="password" type="password" placeholder="Password"
                    autocomplete="off" />
                <button class="toggle" type="button" onclick="togglePassword(this)"></button>
            </div>

            <button class="button-control" type="button">Login</button>
            
            <div class="kembali">
                <a id="kembali">Goo back</a>
            </div>
        </form>

    </div>

    <script src="../static/asset/my.js"></script>
    <script type="text/javascript" src="../static/asset/login/login.js"></script>
</body>

</html>